## Boolean

In [1]:
True

True

In [2]:
False

False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [16]:
str="NavjotMakkar"

In [17]:
print(str.isalnum())
print(str.isalpha())
print(str.isdigit())
print(str.istitle())
print(str.isupper())
print(str.islower())
print(str.isspace())
print(str.endswith('R'))
print(str.startswith('N'))

True
True
False
False
False
False
False
False
True

In [18]:
str.isalpha() or str.isnumeric()

True

In [19]:
str.isalpha() and str.isnumeric()

False

## List

In [20]:
type([])

list

In [21]:
list1=list()
type(list1)

list

In [22]:
list1=['A','abcd', 100]
len(list1)

3

In [24]:
list1.append('example')

In [25]:
list1

['A', 'abcd', 100, 'example']

In [26]:
list1[1]

'abcd'

In [28]:
list1[:]

['A', 'abcd', 100, 'example']

In [29]:
list1[1:]

['abcd', 100, 'example']

In [30]:
list1[:2]

['A', 'abcd']

In [33]:
list1[1:4]

['abcd', 100, 'example']

In [34]:
list1.append(["navjot","makkar"])

In [35]:
list1

['A', 'abcd', 100, 'example', ['navjot', 'makkar']]

In [36]:
list1.insert(2,"first")

In [37]:
list1

['A', 'abcd', 'first', 100, 'example', ['navjot', 'makkar']]

In [39]:
list1.extend([200,300,400])

In [40]:
list1

['A', 'abcd', 'first', 100, 'example', ['navjot', 'makkar'], 200, 300, 400]

In [41]:
list2=[1,2,3,4,5]

In [43]:
sum(list2)

15

In [45]:
list2.pop()

5

In [46]:
list2

[1, 2, 3, 4]

In [48]:
list2.pop(0)

1

In [49]:
list2

[2, 3, 4]

In [51]:
list3=[1,2,1,3,5,1,2]
list3.count(1)

3

In [52]:
list3.index(1)

0

In [53]:
list3.index(2)

1

In [57]:
list3.index(1,2,6)

2

In [58]:
min(list3)

1

In [61]:
max(list3)

5

In [62]:
list3*2

[1, 2, 1, 3, 5, 1, 2, 1, 2, 1, 3, 5, 1, 2]

## Sets

In [64]:
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [65]:
s={1,2,3,4,3}

In [66]:
s

{1, 2, 3, 4}

In [67]:
print(s)

{1, 2, 3, 4}

In [69]:
s.add("name")

In [70]:
s

{1, 2, 3, 4, 'name'}

In [73]:
s1={1,2,3,4,5}
s2={1,4,5,6,7}

In [74]:
s2.difference(s1)

{6, 7}

In [75]:
s1.difference(s2)

{2, 3}

In [76]:
s2.intersection(s1)

{1, 4, 5}

In [77]:
s2

{1, 4, 5, 6, 7}

In [78]:
s2.intersection_update(s1)

In [79]:
s2

{1, 4, 5}

In [80]:
s1

{1, 2, 3, 4, 5}

In [81]:
s1.difference_update(s2)

In [82]:
s1

{2, 3}

## Dictionaries

In [114]:
dic={}

In [115]:
type(dic)

dict

In [116]:
type(dict())

dict

In [117]:
setex={1,2,3,4}

In [118]:
type(setex)

set

In [119]:
dict1={"OS1": "Linux", "OS2": "Windows", "OS3": "MacOS"}

In [112]:
type(dict1)

dict

In [120]:
dict1['OS2']

'Windows'

In [124]:
for x in dict1:
    print(x)

OS1
OS2
OS3

In [125]:
for y in dict1.values():
    print(y)

Linux
Windows
MacOS

In [126]:
for z in dict1.items():
    print(z)

('OS1', 'Linux')
('OS2', 'Windows')
('OS3', 'MacOS')

In [127]:
dict1['OS4']='ChromOS'

In [128]:
dict1

{'OS1': 'Linux', 'OS2': 'Windows', 'OS3': 'MacOS', 'OS4': 'ChromOS'}

In [129]:
dict1['OS1']='Ubuntu'

In [130]:
dict1

{'OS1': 'Ubuntu', 'OS2': 'Windows', 'OS3': 'MacOS', 'OS4': 'ChromOS'}

## Nested Dictionaries

In [131]:
car1_model={'Mercedes':1990}
car2_model={'Audi':2010}
car3_model={'Ambassador':1985}
car_type={'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [132]:
print(car_type)

{'car1': {'Mercedes': 1990}, 'car2': {'Audi': 2010}, 'car3': {'Ambassador': 1985}}

In [133]:
print(car_type['car2'])

{'Audi': 2010}

## Tuples

In [136]:
tup1=("A", "B", "C", "A")

In [137]:
type(tup1)

tuple

In [138]:
tup1.index('A')

0

In [139]:
tup1.index('C')

2

In [140]:
tup1.count('A')

2

In [141]:
print(tup1)

('A', 'B', 'C', 'A')